ul{
  display: flex ;
  gap: 50px;
  height: 40px;
  align-items: center;
  margin: 0px !important;
  list-style-type: none;
}
li{
font-size: large;
color: black;
height: 100%;
}
.tabs{
  border: 1px solid black;
  box-shadow: 1px 1px 5px gray ;
}

.active{
  border-bottom: 5px solid rgb(247, 11, 11);
}

/* =============Rachana Sen Code start=========================== */
body{
  margin: 0;
  padding: 0;
  
}
/* .navbar-section{
  background-color: #0572f0;
  margin-top: 0 !important; 
  padding: 0; 
  position: absolute; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
}
.header{
  background-color: #0a69da;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.nav-tronmart{
  display: flex;

}
.nav-lists{

}
.tronmart-div{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
} */
/* =============Rachana Sen Code End=========================== */


